<h2>Add a new celebrity</h2>

<form action="/celebrities/create" method="POST">
  <div class="mb-3">
    <label for="celebrityName" class="form-label">Name</label>
    <input type="text" class="form-control" id="celebrityName" aria-describedby="emailHelp" name="celebrityName">
  </div>
  <div class="mb-3">
    <label for="occupation" class="form-label">Occupation</label>
    <input type="text" class="form-control" id="occupation" aria-describedby="emailHelp" name="occupation">
  </div>
  <div class="mb-3">
    <label for="catchPhrase" class="form-label">Catch phrase</label>
    <input type="text" class="form-control" id="catchPhrase" aria-describedby="emailHelp" name="catchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Create new celebrity</button>
</form>